*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* font settings */
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    color: #23272a
}

:root {
    --discord: #5865f2;
}

div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

header, header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.limited-width{
    width: 120rem;
}

.ultra-limited{
    padding-right: 24.5rem;
    padding-left: 24.5rem;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.discord-back {
    background-color: var(--discord);
}

.discord-color  {
    color: var(--discord);
}

.horizontal-alignment{
    display: flex;
    flex-direction: row;
}

ul.horizontal-alignment a{
    margin: 0 1rem;
    text-decoration: none;
}

.rounded {
    padding: 0.7rem 1.2rem;
    border-radius: 5rem;
    border: none;
}

.white-color {
    color: white;
}

main > div:first-child > section {
    justify-content: space-between;
}

main > div > section { /* ? every foundamental section in the main */
    padding: 3rem 0;
}

main > div > section > section { /* ! text section in header*/
    width: 30%;
}

main > div > section > section > h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 3rem 0 1rem 0;
    line-height: 2.8rem;
}

.white-back {
    background-color: white;
}

main > section:first-of-type > h2 { /* ? aggiunge padding solo alla prima section con sfondo bianco*/
    padding-top: 3rem;
}

main > section {
    padding: 2rem 0; 
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 900;
}

p {
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 2rem 0;
}

img {
    margin: 0 1.5rem;
}

.gray-back {
    background-color: #f9f9f9;
}

.our-parameters{
    justify-content: space-between;
}

.our-parameters p{
    padding-top: 0.5rem;
}

.dark-gray-back{
    background-color: #23272a;
}

.opportunities {
    padding: 1.5rem 6rem;
    border-radius: 2rem;
}

.opportunities p{
    padding: 0.3rem;
}

.opportunities .rounded {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
}

[alt="italian flag"] {
    margin: auto 0.5rem;
    width: 3rem;
}

[alt="arrow down"] {
    margin: auto 0.5rem;
    
}

.language p {
    font-size: 1rem;
}

i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer li{
    margin: 1rem 0;
}

.navigation {
    width: 65%;
}

.navigation > div {
    width: 25%;
}

footer p.discord-color {
    padding: 0 0 0.6rem 0;
}

footer > div > section{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer-logo{
    margin-top: 1rem;
    justify-content: space-between;
}

.footer-logo img{
    margin: 0;
}

/* ? hover section*/

li:hover{
    text-decoration: underline white;
}

button.discord-back:hover{
    background-color: #7781f0;
    
}

button.white-back:hover{
    color: var(--discord);
    transform: translateY(-1px);
    box-shadow: 0 2px 5px black;
}